requests==2.9.1
click==6.6
Flask==0.11.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
redis==2.10.5
Werkzeug==0.11.10
pymongo==3.2 
alembic==0.8.7
Flask-Migrate==1.8.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Mako==1.0.4
psycopg2==2.6.2
python-editor==1.0.1
SQLAlchemy==1.0.14
