video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
          transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Ropa Sans', sans-serif;
    color: #fff;
    background-color: #fff;
}
.intro {
    width: 100%;
    height: auto;
    padding: 50px 10px;
    text-align: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    font-family: 'Ropa Sans', sans-serif;
    background-size: cover;
    -o-background-size: cover;
    position:fixed;
    left:20px;
}
.brand-heading{
    font-size:48px;
    font-family: 'Dosis', sans-serif;
    font-weight:bold;
    position:fixed;
    left:50px;
    top:100px;
}
.intro-text{
    font-size:22px;
    font-weight:bold;
    font-family: 'Ropa Sans', sans-serif;
    position:fixed;
    left:50px;
    top:160px;
    width:600px;
}
.branding{
    border-bottom:1px solid white;
    width:500px;
    position:fixed;
    left:50px;
    top:40px;
    padding-bottom:5px;
}
a{ text-decoration:none;}
img{padding:5px;}
.enter{
    font-size:30px;
    font-family: 'Dosis', sans-serif;
    font-weight:normal;
    position:fixed;
    left:50px;
    top:230px;
    text-decoration:none;
    border:2px solid white;
    border-radius:5px;
    padding:10px;
}
@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
		text-align:left;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    	text-align:center;
    }}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    line-height: 1.5;
    font-family: 'Ropa Sans', sans-serif;
	font-weight: 300;

}



a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #4099ff;
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  /*html { background: url(img/MatatusVideo.jpg) #000 no-repeat center center fixed; }*/
  #bgvid { display: none; }
}

.btn {
    border-radius: 1px white;
    text-transform: uppercase;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #4099ff;
    outline: 0;
    color: #4099ff;
    background-color: transparent;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}