::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0,0,0,1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;

}

html {
    overflow: hidden;
}

.container- {
    overflow: hidden;
}

body{
    color:#ddd;
    background-color:#000;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 400;
    fill:rgba(255,255,255,.3);
    font-size:11px;
}
a {
    text-decoration:none;
    color:rgb(32, 192, 226);;
}
a:hover{
    text-decoration:none;
    
}

#map { position:absolute; top:0; bottom:0; width:100%;height:100%; }
#index-text{
    padding-left:15px;
    text-align:justify;
    width:80%;
    line-height:125%;
    overflow:auto;
}
#logos{
    position:absolute;
    right:10px;
    top:0px;
}
#logos img{
    padding:5px;
}
#chartTitle{
    position: fixed;
    top: 80px;
    left: 20px;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
}
.chart-title{
    border-bottom:1px solid #aaa;
    font-size:10px;
    margin:10px;
}

.mapboxgl-popup {
        max-width: 400px;
        font-family: 'Ropa Sans', sans-serif;
        font-size:10;
        background-color:rgba(0,0,0,.1);
    }
.mapboxgl-popup-content{
    background:rgba(150,150,150,.5);
}
.mapboxgl-popup-tip{
    border:none;
    border-bottom-color:rgba(150,150,150,.5);
} 
.mapboxgl-popup-anchor-right {
    margin-right: -100px;
}
.largeContent{
    font-size:36px;
}
.section-title{
    font-size:20px;
    letter-spacing:1px;
    color:#fff;
    margin-left:-20px;
}
.subsection-title{
    font-size:14px;
    letter-spacing:2px;
    color:#fff; 
    margin-left:-10px;
     
}
.form{
    padding:10px;
}
.overviewby{
    width:100%;
    font-size:14px;
}
.dropdownPrompt{
    font-size:14px;
    width:100%;
    padding-top:10px;
}
#about-1{
    letter-spacing:1px;
    font-size:12px;
    position:absolute;
    width:30%;
    left:5%;
    padding:30px;
    padding-top:60px;
}
#about-2{
    letter-spacing:1px;
    font-size:12px;
    position:absolute;
    width:30%;
    left:35%;
    padding:30px;
    padding-top:60px;
}
#about-3{
    letter-spacing:1px;
    font-size:12px;
    position:absolute;
    width:30%;
    left:70%;
    padding:30px;
    padding-top:60px;
}
#loader{
    background: #000000; /* For browsers that do not support gradients */
	position:absolute;
	top: 41px;
    left:0px;
    right: 0px;
    bottom: 0px;
	font-size:24px;
	letter-spacing:3px;
	color:#fff;
	line-height:175%;
    margin:0px;
	z-index:99999;
}
#loader-text{
    width:60%;
    position: fixed;
    top: 30%;
    left: 20%;
}
#map{
    position:absolute; 
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index:-1;
}
.popup{
    color:#000;
}
.zipcodemap{
    position:absolute;
    width: 1800px;
    height: 1200px;
}
.datalayer{
    overflow:hidden;
}

.source {
    float: right;
}
.source .sourcetext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(150,150,150,.7);
    color: #fff;
    text-align: left;
    padding: 5px;
    font-size:9px;
    margin-top:20px;
    margin-left:-200px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.source:hover .sourcetext {
    visibility: visible;
}

.overviewMenu{
    padding:10px;
    font-size:14px;
}
canvas {
     position: absolute;
     overflow:hidden;
   }
#key{
    border:1px solid #fff;
    width:200px;
    height:180px;
    position:fixed;
    bottom:20px;
    left:20px;
    background-color:rgba(0,0,0,.8);
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 200;
    
}
.dc-data-count a{
    color:#fff;
}
.dc-data-count{
    color:#337ab7;
}
.dc-chart{
    fill-opacity: .5;
    cursor:pointer;
    font-size:12px;
    letter-spacing:1px;
}
.dc-chart:hover {
    fill-opacity: 1;
    cursor:pointer;
}

/* dc-chart class extended for Business Types widget*/

.dc-chart.bus-types{
    fill-opacity: .5;
    cursor:pointer;
}

.dc-chart.bus-types:hover{
    fill-opacity: .5;
    cursor:pointer;
}

.dc-chart .selected{
    fill:#fff;
}
.dc-chart .deselected{
    fill:#888;
}
.loader-text{
    position:absolute;left:0px;
    font-size:16px;
    top:60%;
   width:800px;
   z-index:999;
   text-align:left;
   left:50px;
   letter-spacing:2px;
   font-family: 'Dosis', sans-serif;
   
}
.d3-tip{ 
    background-color:rgba(0,0,0,0.7);
    border:1px solid #fff;
    padding:5px;
    border-radius:5px;
}
#row{
    padding:5px;
    
}
#title{
    text-align:center;
    font-family: 'Dosis', sans-serif;
    font-size:14px;
    font-weight: 500;
    letter-spacing:4px;
    padding:10px;
}
.subtitle{
    border-bottom:1px solid white;
    font-size:12px;
    letter-spacing:2px;
}
.intro{
    z-index:999;
}
#info{
    padding: 10px;
    background-color: rgba(0,0,0,.7);
    width: 410px;    
    height: calc(100% - 100px);    
    position: absolute;
    top: 40px;
    right: 0px;
    overflow: auto;
    padding-left: 40px;
}



#frontpage-map{
    position:fixed;
    top:100px;
    left:40px;
    width:65%;
}

#centered{
    position:fixed;
}
#frontpage svg{
    display:block;
    margin:auto;
}
#header{
    border-bottom:1px solid white;
    background-color:rgba(0,0,0,1);
    z-index:20;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.btn-group{
    font-size:18px;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  opacity:.5;
}

label > input:checked{
    opacity:1;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  opacity:1;
}
.loader{position:absolute; top:0px; left:0px;overflow:hidden;}
#moreinfo {position:absolute; top:10px; left:15px;}
#philips{padding:10px;}
#civic{padding:10px;}
.x.axis line {
  stroke: #fff;
}
.x.axis path {
    stroke: #fff;
}
#bubble-key{
    padding:5px;
    font-size:16px;
}

.y.axis line,
.y.axis path {
  fill: none;
  stroke: #fff;
}
/* bubble control*/

.label{
    color:#fff;
    font-size:14px;
}
.radio{
    float: left;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 13px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    letter-spacing: 2px;
    font-family: 'Ropa Sans', sans-serif;    
    height: 20px;
    position: absolute;
    top: 0px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover{
    background-color: #000;
    color:#aaa;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width:350px;
    margin:10px;
    border:1px solid #fff;
    z-index:9;
    margin-right: 44px;
    margin-left: 20px;
    height:21px;
    border-radius: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;    background-color: rgba(0,0,0,.9);
    min-width: 160px;
    width: 95%;
    line-height: 160%;
    padding:5px;    
    top:22px;
    direction: ltr;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #222}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.cellgrids {

}

.cellgrids:hover {
    fill:white;
    
}

.mapboxgl-ctrl-bottom-left {
    bottom: 0;
    left: 0;
    z-index: 11 !important;
}

#selector {
    position: absolute;
    width: 416px;
    height: calc(100% - 40px);
    top: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
    left: 0px;
}

.mapboxgl-ctrl-geocoder {
    display: none !important;
}

.data_item {
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    width: 380px;    
    background-color: rgba(0,0,0,0.5);
    margin-right: 30px;
    margin-left: 6px;
}

.data_item_title{
    font-size: 17px;
    padding: 10px;
    position: absolute;
    left: 0px;
    width: 100px;
    text-align: left;
}

#todrop {
    position: absolute;
    background-color: rgba(255,255,255,0);
    border: 1px dashed white;
    font-size: 20px;
    width: 410px;
    height: 100px;
}

.fold_bar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 30px;
    background-color: rgba(150,150,150,0.4);
    right: 430px;
    height: calc(100% - 40px);
}

.left_back {
    position: fixed;
    width: 416px;
    height: calc(100% - 40px);
    background-color: rgba(0,0,0,0.6);
    top: 40px;
    left: 0px;

}

#drop_indication {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}



.drop_indi {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.city-title-grid {
    width:30%;
}

.left_clickbar {
    position: fixed;
    width: 30px;
    left: 386px;
    height: calc(50% - 20px);

}

.click_data {
    background-color: rgba(150,150,150,0.4);
    border-top-right-radius: 15px;
    top: 40px;
}

.click_case {
    background-color: rgba(150,150,150,0.4);
    border-bottom-right-radius: 15px;
    top: calc(50% + 20px);
}

.selectedTab {
    background-color: rgba(150,150,150,1) !important;
}

.mybtn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.selector_arrow {
    width: 20px;
    position: absolute;
    bottom: 10px;
    left: 5px;
    cursor: pointer;
}

.mapboxgl-ctrl-bottom-left {
    display: none !important;
}

.mapboxgl-ctrl-bottom-right {
    bottom: 0;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 300px;
}

.dropbtn img {
    position: absolute;
    right: 5px;
    top: 6px;
}

.data_filters {
    height: 120px;
}

.data_tags {
    font-size: 13px;
    display: block;
    width: 350px;
    height: 20px;
    margin-left: 22px;
    margin-right: 44px;
    position: relative;
}

.tag_item {
    float: left;
    padding: 3px;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    transform: translateX(-2px);    
    opacity: 0.6;
}

.tag_item:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.selected {
    opacity: 1 !important;
}

.data_searchbox {
    font-size: 13px;
    display: block;
    width: 350px;
    height: 20px;
    margin-left: 22px;
    margin-right: 44px;
    position: relative;
    margin-top: 10px;
}

.data_searchbox input {
    background-color: black;
    color: white;
    line-height: 20px;
    font-size: 13px;
    left: -1px;
    display: block;
    position: absolute;
    width: 337px;
    height: 13px;
    direction:ltr;
}

.extra_data {
    width:410px;
    height:200px;
    margin-bottom:10px; 
}   


.svg_overlay {
    position: absolute;
}

.overlay_rect {
    position: absolute;
    border: 5px solid rgb(32, 192, 226);
    z-index: 11;
}

#light_average {
    height: 100px;
    position: relative;
}

.dc-chart svg {
    margin-left: 95px;
}

.plc_digits {
    color: rgb(32, 192, 226);
    font-size: 38px;
    margin-left: 10px;
    position: absolute;    
}

#light_digits {
    color: rgb(32, 192, 226);
    font-size: 45px;
    position: absolute;
    left: 10px;
    bottom: 30px;
}


#export {
    position: fixed;
    width: 460px;    
    right: 0px;
    bottom: 0px;
    height: 40px;
    background-color: rgba(100,100,100,.7);
}

#export_btn {
    text-align: center;
    color: white;
    font-size: 15px;
    padding-top: 10px;
}

#export_add {
    display: none;

    position: absolute;
    z-index: 10;
    top: -3px;
    background-color: black;
    width: 460px;
    height: 43px;
}

#export_add input {
    background-color: white;
    color: black;
    line-height: 20px;
    font-size: 13px;
    left: 10px;
    display: block;
    position: absolute;
    top:10px;
    width: 285px;    
    height: 13px;

}

#cp_btn {
    position: absolute;
    right: 110px;
    top:10px;
}

#bk_btn {
    position: absolute;
    right:10px;
    top:10px;
}

#exportcsv {
    position: absolute;
    right: 50px;
    top: 10px;
}

.ins_thumb {
    float: left;
    width: 33.6px;
    object-fit: cover;
    height: 31.6px;
}



#street_view {
    opacity: 0;
    position: absolute;
    background-color: rgba(0,0,0,0) !important;
}

#instagram_pics {
    overflow: hidden;
    height: auto !important;
}

div#streetview_window {
    height: 160px;
}

#instagram_plc {
}

#street_view_plc {
}

#selected_time {
    font-size: 24px;
    position: absolute;
    transform: translateY(6px);
    left: 50px;
    margin-left: 0px;
}

.toolip_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
}

.data_icon {
    width: 270px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.data_intro {
    width: 250px;
    position: absolute;
    right: 0px;
    display: none;
    text-align: left;
    height: 80px;
    background-color: black;
    padding: 10px;
}

.rightbar {
    transform: rotate(180deg);
}

#business_opening svg {
    margin-left: 0px;
}


/*____________________________*/

/* Business Types */

#business_types svg {
    margin-left: 0px;  
}

#business_types .textElements {
    color: rgb(32, 192, 226);
    position: absolute;  
    display: inline-block;
    *display: inline;
    margin-left: 5px;
    margin-top:3px;
}

.types-text {
    fill-opacity: 0.5;
}

.types-text.active {
    fill-opacity: 1;
}



