.axis path,
.axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.dot {
}
svg circle.dot{
    fill: green;
    filter: url(#blur);
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding:2px;
   padding-left:10px;
   background:#000;
   border-radius:0px;
   color:#fff;
   width:300px;
   font-family: 'Dosis', sans-serif;
   letter-spacing:2px;
}

#frontpage-map{
  margin: 0 auto;
  width: 100%;
}

#xAxisArrow{
    width:20px;
    height:20px;
}
#xAxisData{
    width: 615px;
    left: 105px;
    top: 595px;
    z-index: 999;
    padding-left: 20px;
    cursor: pointer;
    display: block;
    position: relative;
}
#yAxisData{
  z-index:999;
  width:430px;
  position:absolute;
  top:330px;
  left:-180px;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  padding-left:20px;
  cursor: pointer;
  
}
#chartTitle{
    position:fixed;
    top:80px;
    left:20px;
    font-size:18px;
    font-family: 'Dosis', sans-serif;
    letter-spacing:2px;
}
#xAxisArrow{
  position:absolute;
  top:602px;
  left:113px;
  z-index:9999;
}
#yAxisArrow{
  position:absolute;
  top:540px;
  left:31px;
  z-index:9999;
}

#mapB {
  cursor: pointer;
}
#msaB {
  cursor: pointer;
}

#city-title {
  width: 100%;
  position:absolute;
  bottom:300px;
  margin: 0 auto;
}

#mapchart_switch {
  width: 30%;
  position:absolute;
  margin: 0 auto;
}

#bubble-key{
  position:absolute;
  bottom:30px;
  width:30%;
}