<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Atlas of lighting - grid map</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>

  <!-- <script src="d3.tip.js"></script> -->
  <!--	<script src="../scripts/lib/bootstrap.min.js"></script>  
-->

  <!-- <link href='mapbox-gl.css' rel='stylesheet' />
  <script src='mapbox-gl.js'></script> -->
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.0/mapbox-gl-geocoder.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.0/mapbox-gl-geocoder.css'
    type='text/css' />
  <script src="../scripts/lib/d3.min.js"></script>
<!--<script src="https://d3js.org/d3.v4.min.js"></script>
-->
  <script src="../scripts/lib/d3-queue.js"></script>
  <script src="../scripts/lib/topojson.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="../scripts/lib/crossfilter.min.js"></script>
  <script src="../scripts/lib/dc.js"></script>

  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

  <script src='../scripts/lib/mapbox.js'></script>
  <link href='../scripts/lib/mapbox.css' rel='stylesheet' />
  <link href='https://fonts.googleapis.com/css?family=Dosis:500,300|Ropa+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../scripts/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/atlas.css"> </style>
</head>

<body>
  <div class="container-">
    <div id="header">
      <div id="title"><a href="../index.html"><span style="color:#fff">ATLAS of LIGHTING</span> </a><sup><small><i>beta</i></small></sup></div>

      <div id="moreinfo">
        <a href="../index.html">HOME</a> |
        <a href="../about.html">ABOUT</a>
      </div>

      <div id="logos">
        <a href="https://www.phillips.com/" target="_blank"><img src="../logos/philips_white.png" style="width:80px"></a>
        <a href="http://www.civicdatadesignlab.org/" target="_blank"><img src="../logos/cddl_white.png" style="width:80px "></a>
        <a href="http://cau.mit.edu/" target="_blank"><img src="../logos/cau.jpg" style="height:30px "></a>
      </div>
    </div>
    <div id="loader">
      <div id="loader-text">
        Loading data for
        <p id="nowmsa"></p>...
        <br/><br/>
      </div>
    </div>

    <!-- cases -->
    <div id="cases" style="display:none">
      <div id="centered">
        <div id="frontpage-map"></div>
      </div>
    </div>
    <!-- end cases -->

    <div id="map"></div>
    <div id="info" class="data_select_ui">

      <div class = "fold_bar">
        <img src="../icons/triangle_left.png" class="selector_arrow rightbar">
      </div>

      <!-- case info -->
      <div id="case-info" style="display:none">
        <div id="hide_cases"><img src="../icons/back.png" style="height:30px"> Close Case Studies</div>
        <div id="text" class="content">
          <br/><br/>
          <div id="city-title" class="title2">

            <div class="btn-group" data-toggle="buttons">
              <div class="overviewby">COMPARE MSAS</div><br/>
              <form>
                <label class="radio" id="mapB">
                       <input type="radio" name="options"  checked="checked"><img src="../icons/usa.png" style="height:15px "> Map &nbsp;&nbsp;</label>
                <label class="radio" id="msaB">
                      <input type="radio" name="options" id="msaB"> <img src="../icons/bubble.png" style="height:15px "> Chart &nbsp;&nbsp;</label>
                <!-- <label class="radio" id="group">
                       <input type="radio" name="options"> LIGHTING AND INCOME &nbsp;&nbsp;</label>-->
              </form>
            </div>
          </div>

          <div class="dropdownPrompt">METHODOLOGY</div>
          <div id="index-text">
            <p>In order to select geographically diverse and economically vibrant set of U.S. cities to best represent the variation
              of urbanized areas in the country, the team conducted a selection process. Typically, research at this scale
              focuses on the top 100 MSAs (Metropolitan Statistical Area) by population. This convenient metric accounts
              for a large portion of the nation’s populous and economy. The research uses one primary cutoff (population)
              and several factors (pop. growth, pop.-weighted density, and Gross Metropolitan Product) to sort the list of
              potential MSAs for further study.</p>
            <p>The plot helps reveal a system of MSAs that separate into at least five identifiable groups. The following 5
              selection sets will serve as the primary source of the final selection to be determined by data compatibility/availability
              (see plot figure for full groups). The sets were determined by selecting the highest, lowest, and the median
              2010 population-weighted density MSA from each group (listed in that order below). The MSA with a density next
              closest to the median was chosen as the alternate... <a href="about.html">read more</a></p>
          </div>
        </div>
        <div id="bubble-key">
          <div class="dropdownPrompt"> MSA CATEGORIES</div>
        </div>
      </div>
      <!-- end case info -->

      <!-- map info -->
      <div id="map-info">
        <div id="view-selection" class="icons">
        </div>

        <div id="text" class="content">
          <div class="dc-data-count">
            <span class="filter-count"></span> selected out of <span class="total-count">
              </span> areas | <a href="javascript:dc.filterAll(); dc.redrawAll();">Reset All</a>
          </div>

          <div id="light_average" class="lock">
            <div class="chart-title">LIGHTING AVERAGE
              <span class="source">
                <a class="reset" href="javascript:ligAveChart.filterAll();dc.redrawAll();" 			style="display: none;">RESET </a>
              </span>
            </div>
            <p id="light_digits">___</p>
          </div>

          <div id="income">
            <div class="chart-title">MEDIAN HOUSEHOLD INCOME
              <span class="source">
                <a class="reset" href="javascript:incomeChart.filterAll();dc.redrawAll();" 			style="display: none;">RESET </a>
                <span class = "rm_data">| x</span>
              </span>
            </div>
            <p id="" class = "plc_digits">___</p>
          </div>

          <div id="development_intensity">
            <div class="chart-title">DEVELOPMENT INTENSITY
              <span class="source">
                <a class="reset" href="javascript:devIntChart.filterAll();dc.redrawAll();" 			style="display: none;">RESET </a>
                <span class = "rm_data">| x</span>
              </span>
            </div>
            <p id="" class = "plc_digits">___</p>
          </div>


          <div id="population">
            <div class="chart-title">POPULATION
              <span class="source">
                <a class="reset" href="javascript:populationChart.filterAll();dc.redrawAll();" 			style="display: none;">RESET </a>
                <span class = "rm_data">| x</span>
              </span>
            </div>
            <p id="" class = "plc_digits">___</p>
          </div>


          <div id="business_diversity">
            <div class="chart-title">BUSINESS DIVERSITY
              <span class="source">
                <a class="reset" href="javascript:busDivChart.filterAll();dc.redrawAll();" 			style="display: none;">RESET </a>
                <span class = "rm_data">| x</span>
              </span>
            </div>
            <p id="" class = "plc_digits">___</p>
          </div>

          <div id="business_price">
            <div class="chart-title">BUSINESS PRICE
              <span class="source">
                <a class="reset" href="javascript:busPriChart.filterAll();dc.redrawAll();" 			style="display: none;">RESET </a>
                <span class = "rm_data">| x</span>
              </span>
            </div>
            <p id="" class = "plc_digits">___</p>
          </div>

          <div id="places">
            <div class="chart-title">PLACE DENSITY
              <span class="source">
                <a class="reset" href="javascript:placesChart.filterAll();dc.redrawAll();" 			style="display: none;">RESET </a>
                <span class = "rm_data">| x</span>
              </span>
            </div>
            <p id="" class = "plc_digits">___</p>
          </div>

          <div id="ins">
            <div class="chart-title">INSTAGRAM DENSITY
              <span class="source">
                <a class="reset" href="javascript:insChart.filterAll();dc.redrawAll();" 			style="display: none;">RESET </a>
                <span class = "rm_data">| x</span>
              </span>
            </div>
            <p id="" class = "plc_digits">___</p>
          </div>

          <div id="ins_likes">
            <div class="chart-title">INSTAGRAM LIKES
              <span class="source">
                <a class="reset" href="javascript:insLikesChart.filterAll();dc.redrawAll();" 			style="display: none;">RESET </a>
                <span class = "rm_data">| x</span>
              </span>
            </div>
            <p id="" class = "plc_digits">___</p>
          </div>

          <div id="business_opening" class = "dc-chart">
            <div class="chart-title">BUSINESS OPENING HOURS
              <span class="source">
                <span class = "rm_data">| x</span>
              </span>
            </div>

            <p id = "selected_time" class = "plc_digits">0 - 24</p>

          </div>

          <div id="business_types" class = "dc-chart bus-types">
            <div class="chart-title">BUSINESS TYPES
              <span class="source">
                <span class = "rm_data">| x</span>
              </span>
            </div>
          </div>


          <div id="street_view" class="extra_data dc-chart">
            <div class="chart-title">GOOGLE STREET VIEW
              <span class="source">
                <span class = "rm_data">| x</span>
              </span>
            </div>
            <img src="../icons/placeholder_streetview2.png" id = "street_view_plc">
            <div id="streetview_window"></div>
          </div>



          <div id="instagram_pics" class="extra_data dc-chart">
            <div class="chart-title">INSTAGRAM POSTS
              <span class="source">
                <span class = "rm_data">| x</span>
              </span>
            </div>
          <img src="../icons/placeholder_instagram2.png" id = "instagram_plc">
          </div>

          <div class="data_select_ui" id="todrop">
            <div class="drop_indi">Drop Selection Here</div>
          </div>

          <div id="export">
            <p id="export_btn" class="mybtn">EXPORT</p>
            <div id="export_add">
              <input type="text">
              <p class="mybtn" id="cp_btn">COPY</p>
              <p class="mybtn" id="bk_btn">BACK</p>

              <a href="" id="exportcsv">Download</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end map info -->
    </div>

    <div id="selector" class="data_select_ui">
      <div class="left_back"></div>
      <div class="left_clickbar datasets click_data slide_hide selectedTab">
        <img src="../icons/triangle_left.png" class="selector_arrow">
      </div>
      <div class="left_clickbar case_studies click_case slide_hide">
        <img src="../icons/triangle_left.png" class="selector_arrow">
      </div>

      <div id="datasets">
        <div class="data_filters">
          <div id="city-title city-title-grid" class="title2 city-title-grid">
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn" id="nowmsa"><img src="../icons/arrow_down.png" style="width:10px"> CHICAGO-JOLIET-NAPERVILLE,IL-IN-WI</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="javascript:window.location.assign('grid.html#Chicago');window.location.reload();">CHICAGO-JOLIET-NAPERVILLE,IL-IN-WI</a>
                <a href="javascript:window.location.assign('grid.html#LA');window.location.reload();">LOS ANGELES-LONG BEACH-SANTA ANA, CA</a>
<!--                <a href="javascript:window.location.assign('grid.html#Pittsburgh');window.location.reload();">PITTSBURGH, PA</a>
                <a href="javascript:window.location.assign('grid.html#Sanjose');window.location.reload();">SAN JOSE-SUNNYVALE-SANTA CLARA, CA</a>
                <a href="javascript:window.location.assign('grid.html#Denver');window.location.reload();">DENVER-AURORA-BROOMFIELD, CO</a>
-->              
              </div>
            </div>
          </div>

          <div class="data_tags">
            <div CLASS="tag_item" id="tag_bus">BUSINESS</div>
            <div CLASS="tag_item" id="tag_dem">DEMOGRAPHICS</div>
            <div CLASS="tag_item" id="tag_soc">SOCIAL MEDIA</div>
          </div>
          <div class="data_searchbox">
            <input type="text">
          </div>
        </div>

        <div class="data_item ui-widget-content tag_dem" id="d_population">
          <p class="data_item_title">POPULATION</p>
          <img src="../icons/data_icon/population.jpg" class = "data_icon">
          <p class = "data_intro">Population density is the measure of the number people per unit area, commonly represented as people per square mile. Source: 2010 - 2014 ACS - 5 Year Estimate</p>

        </div>
        <div class="data_item ui-widget-content tag_dem" id="d_income">
          <p class="data_item_title">INCOME</p>
          <img src="../icons/data_icon/income.jpg" class = "data_icon">
          <p class = "data_intro">Household income is a measure of the combined incomes of all people sharing a particular household or place of residence. Source: 2010 - 2014 ACS - 5 Year Estimate</p>

        </div>
        <div class="data_item ui-widget-content tag_bus" id="d_business_diversity">
          <p class="data_item_title">BUSINESS DIVERSITY</p>
          <img src="../icons/data_icon/business_diversity.jpg" class = "data_icon">
          <p class = "data_intro">Diversity of business types in a grid cell. Source: Google Places API</p>
        </div>
        <div class="data_item ui-widget-content tag_bus" id="d_business_price">
          <p class="data_item_title">BUSINESS PRICE</p>
          <img src="../icons/data_icon/business_price.jpg" class = "data_icon">
          <p class = "data_intro">Average price of business in a grid cell. Source: Google Places API</p>
        </div>
        <div class="data_item ui-widget-content tag_dem" id="d_development_intensity">
          <p class="data_item_title">DEVELOPMENT INTENSITY</p>
          <img src="../icons/data_icon/development_intensity.jpg" class = "data_icon">
          <p class = "data_intro">NLCD provides spatial reference and descriptive data for characteristics of the land surface such as low,medium and high intensity development. Source: National Land Cover Database 2011</p>

        </div>
        <div class="data_item ui-widget-content tag_bus" id="d_places">
          <p class="data_item_title">BUSINESS DENSITY</p>
          <img src="../icons/data_icon/places.jpg" class = "data_icon">
          <p class = "data_intro">Total number of places in a grid cell. Source: Google Places API</p>

        </div>
        <div class="data_item ui-widget-content tag_soc" id="d_ins">
          <p class="data_item_title">INSTAGRAM DENSITY</p>
          <img src="../icons/data_icon/ins.jpg" class = "data_icon">
          <p class = "data_intro">Total number of Instagram posts in a grid cell. Source: Instagram API</p>

        </div>
        <div class="data_item ui-widget-content tag_bus" id="d_business_opening">
          <p class="data_item_title">BUSINESS OPENING HOURS</p>
          <img src="../icons/data_icon/business_opening.jpg" class = "data_icon">
          <p class = "data_intro">Places open in a grid cell for a given time period. Source: Google Places API</p>

        </div>

        <div class="data_item ui-widget-content tag_bus" id="d_business_types">
          <p class="data_item_title">BUSINESS TYPES</p>
          <!-- <img src="../icons/data_icon/business_opening.jpg" class = "data_icon"> -->
          <p class = "data_intro">Type of businesses open in a grid cell for a given time period. Source: Google Places API</p>

        </div>

        <div class="data_item ui-widget-content tag_soc" id="d_street_view">
          <p class="data_item_title">GOOGLE STREET VIEW</p>
          <img src="../icons/data_icon/street_view.jpg" class = "data_icon">
          <p class = "data_intro">Source: Google Street View API</p>

        </div>
        <div class="data_item ui-widget-content tag_soc" id="d_instagram_pics">
          <p class="data_item_title">INSTAGRAM POST THUMBNAILS</p>
          <img src="../icons/data_icon/instagram_pics.jpg" class = "data_icon">
          <p class = "data_intro">Instagram posts in a grid cell. Source: Instagram API</p>

        </div>
        <div class="data_item ui-widget-content tag_soc" id="d_ins_likes">
          <p class="data_item_title">INSTAGRAM LIKES</p>
          <img src="../icons/data_icon/ins_likes.jpg" class = "data_icon">
          <p class = "data_intro">Instagram likes in a grid cell. Source: Instagram API</p>

        </div>


      </div>

      <div id="case_studies" style="display:none">
        <div class="data_item" id="case_study_1">
          <p class="data_item_title">CASE STUDIES 1: CHICAGO</p>
        </div>
      </div>
    </div>



  </div>
  <script src="../scripts/grid_loader.js"></script>

  <script src="../scripts/city_comparisons_data.js"></script>
  <script src="../scripts/city_dropdown.js"></script>

  <script src="../scripts/business_types_chart.js"></script>
  <script src="../scripts/grid_map.js"></script>
  <script src="../scripts/filter_rollovers.js"></script>

  <script src="../scripts/underscore.js"></script>
  <script src="../scripts/front_page_text.js"></script>
  <script src="../scripts/front_page_map_2.js"></script>


  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM59LWQXfxJzh06UPYicEM9Ro6RRFCHQc&callback=myinit"></script>

</body>

</html>